bitsandbytes==0.38.1
peft==0.2.0
transformers>=4.28.0
setuptools==65.5.0
wheel==0.38.0
gym==0.21.0
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
accelerate
appdirs
black
black[jupyter]
datasets
fire
gradio
sentencepiece
ipdb
tensorboard
scipy